<{% extends 'base/navbar.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container">
    <div class="container bg-white shadow-md p-5 form-layout"> 
        <div>
            <h1 class="text-center">View Your Course</h1>
        </div>
        <br><br>
        <div>
            <a href="{% url 'create-course' %}" class="btn btn-success"> Write Your Portofolio </a> 
            &nbsp; &nbsp;
            <a href="{% url 'dashboard' %}" class="btn btn-light"> Go Back</a>
        </div>
        <br><br>
            <div>

                {% for datacourse in  DataCourse %}
                <div>
                    <img src="{{ datacourse.image.url }}" alt="{{ datacourse.location }}" width="150">
                </div>
                <p><strong>Course:</strong> {{ datacourse.title }}</p>
            
                <p><strong>Periode:</strong> {{ datacourse.do_date }} - 
                    {% if datacourse.is_current %}
                        <span class="text-success">Sedang Proses Belajar</span>
                    {% else %}
                        {{ datacourse.end_date }}
                    {% endif %}
                </p>
            
                <p><strong>Deskripsi:</strong> {{ datacourse.description }}</p>
            
                <div>
                    <a href="{% url 'update-course' datacourse.id %}" class="btn btn-primary">Edit</a>
                    &nbsp; &nbsp;
                    <a href="{% url 'delete-course' datacourse.id %}" class="btn btn-danger">Delete</a>
                </div>
            
                <hr>  <!-- Tambahkan garis pemisah antar pengalaman kerja -->

                {% endfor %}
                <br><br>
            </div>    
         </div>
    </div>> 
</div> 
{% endblock content %}

  





    



