{% load static %}
{% block content %}
    <section class="about section-padding" id="about">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-12">
                    <h3 class="mb-4"><b>Short About Me</b></h3>

                    <p>My name is Alwan Farhan Aziz, I am bachelor degree of English literature of STBA-JIA in 2020. </p>

                    <p>My specialitation is IT in Operational, Program and network. My job experiences in this job at least 
                      5 years, for technician, couch and programmer.</p>

                    <ul class="mt-4 mb-5 mb-lg-0 profile-list list-unstyled">
                        <li><strong>Full Name :</strong> Alwan Farhan Aziz </li>

                        <li><strong>Date of Birth:</strong> 17 may 1998</li>


 
                    </ul>
                </div>

                <div class="col-lg-5 mx-auto col-md-6 col-12">
                    <img src="{% static 'images/iam.jpg' %}" class="about-image img-fluid" alt="Ben's Resume HTML Template">
                </div>

            </div>
            </div>
            
        </div>
    </section>
    
{% endblock content %}
    