{% load static %}
{% load crispy_forms_tags %}
<html>
    <head>
        <title>Login FOrm</title>
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/cerulean/bootstrap.min.css">


        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>
        
        <div class="container bg-white shadow-md p-5 form-layout">
            <h3><b class="text-center">LOGIN FORM</b></h3>
            <br>
            {% for message in  messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <p id="message-timer"  class="alert alert-success float-center text-center message-text"> {{message}}</p>
                
            {% endif %}
                
            {% endfor %}
            
            <hr>
            <form method="POST" autocomplete="off">
                {% csrf_token %} 
                {{LoginForm|crispy}}
                <br>

                <button class="btn btn-secondary btn-lg w-100 btn-block p-2" type="submit">Login</button>
                <br><br>
                <a class="btn btn-secondary btn-lg w-100 btn-block p-2" href="{% url '' %}">Go Back</a>
            </form>
        </div>
    </body>
    <script src="{% static 'js/app.js' %}"></script>
    
</html>